.Project{
    display: block;
    padding: 8px;
    justify-content: space-between;
}

.Project1{
    display: flex;
    justify-content: space-between;
    margin-left: 8px;
}
.Project1L{
    flex: 0.5;
    margin-left: 30px;
}
.project1R{
    margin-right: 100px;
    align-items: center;
    vertical-align: middle;
}

   
.titleP{
    color: yellow;
}
.proper{
    color: gray;
    margin-left: 30px;
}
.vl{
    color: rgb(173, 173, 248);
}
